body, p, h1, h2, h3, a, ul, li, dd, dt{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}



img{
    display: block;
    max-width: 100%;
    border-radius: 8px;
    object-fit: contain;
}


:root{
    --w: #FFFFFF;
    --color1: #F7F7F7;
    --color2: #EDEDED;
    --color3: #DEDEDE;
    --color4: #CCCCCC;
    --color5: #B2B2B2;
    --color6: #9C9C9C;
    --color7: #717171;
    --color8: #595959;
    --color9: #404040;
    --color10: #2E2E2E;
    --color11: #111111;
    --color12: #000000;
    --p1: #FFBB00;
    --p2: #E4A30B;
    --p3: #A66F00;
    --p4: #664400;
    --p5: #332200;
}

/* INICIO DO HEADER*/
.header-bg{
    background-color: var(--color12);
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}
.lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    list-style: none;
}

.lista a{
    color: var(--w);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-bottom: 5px ;
    border-bottom: 2px solid black;
    transition-delay: 0.25s;
}

.borda-padrão a:hover{
        border-bottom: 2px solid #FFFFFF;
        
}

.borda-bike{
  border-bottom: 2px solid white;
}

/* MAIN */
span {
    color:  #FFBB00;
}
.main{
    color: #FFFFFF;
    background-color: #111111;
}

.paragrafo-preço {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    color: #B2B2B2;
}

.h1-preço{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

/* GRID GALERIA */

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 1200px;
    gap: 0px 45px;
    padding-top: 48px;
    
    
}

/* PREÇO GALERIA */

.paragrafo-preço,
.h1-preço{
    
    grid-column: 1/3;
}

.ficha-técnica,
.informações,
.apresentação{
    grid-column: 2;
    
}

/* FIM POSICIONAMENTOS GERAIS */

/* IMAGENS ROW */

.imagens img{
    grid-row: 1;
}

.imagens-row{
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:0px 24px ;

}

.imagens-row img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    
    
}
/* APRESENTAÇÃO BOTÃO ENTRE E ESTOQUE */

.apresentacao{
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.apresentacao > p{
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;

color: #B2B2B2;
}





/* ESTILIZAÇÃO BOTÃO */
.apresentacao a{
    padding: 16px 32px;
    align-items: center;
    background-color: #FFBB00;
    text-decoration: none;
    color: #111111;
    border-radius: 8px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
color: #332200;
}

/* ROW BOTÃO ESTOQUE E ENTREGA */

.apresentacao-row{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.detalhe-coluna{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
}

.detalhe-coluna > p{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    background-color: #000000;
    padding: 2px 8px 2px 24px;
    color: #9C9C9C;
    position: relative;
    border-radius: 4px;
    
 }

 /* Icone do estoque e da entrega, lembrando que deve ter um content e uma altura e largura suficiente para não cortar a img */

 #entrega::before{
    content: "";
    background-image: url(/img/icones/entrega.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 4px;
    
 }



 #estoque::before{
    content: "";
    background-image: url(/img/icones/estoque.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 4px;
    
 }

 /* INFORMAÇÕES */

 .informações {
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: #000000;
    box-shadow: inset 0px 12px #111111;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 12px;
    
 }

 /* PARAGRAFO INFORMAÇÕES NA SHADOW */
.para-info{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #FFFFFF;
}

 .icones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
 }

 
/* TÍTULOS E PARÁGRAFOS DE ICONES */
.icones-flex p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #B2B2B2;
}

 .icones-flex h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 6px;
    margin-bottom: 12px;
}

#vel, #ras{
    margin-top: 12px;
}

/* FIM ICONES INFORMAÇÕES */

/* FICHA TÉCNICA */

.ficha-técnica{
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: #000000;
    box-shadow: inset 0px 16px #111111;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 32px;
}

.ficha-técnica p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.015em;
    color: #9C9C9C;
}

#para-ficha{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.ficha-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px;
    border-bottom: 2px solid #2e2e2e57;
}

